body, html{
    margin : 0;
    padding: 0;
}

html {
    font-family: monospace;
}
.container{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid black;
    border-radius: 50px 20px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: cornsilk;
}

h1{
    text-align: center;
    font-size: 60px;
    font-style: italic;
}

#inputField{
    padding: 10px;
    border-radius: 50px 10px;
    border: 5px solid black;
    font-size: 20px;
    outline: none;
    background-color: orange;


}

#addtoDo{
    padding: 10px;
    border: 5px solid black;
    border-radius: 50px 20px;
    margin-left: 10px;
    font-weight: bold;
    outline: none;
   
    
}
#addtoDo:hover{
    background-color: cornflowerblue;
}

#toDoContainer{
    font-size: 30px;
    cursor: pointer;
}

.paragraph-styling{
    color: cornflowerblue;
    font-weight: bold;
    font-style: oblique;
  
}